<template>
  <div class="blogs">
  <ListBlogs 
  :blogs="blogs"
  :url= "url"
  />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import ListBlogs from '../components/ListBlogs'

export default {
  name: "Blogs",
  components: {
    ListBlogs
  },
  computed: {
    ...mapGetters({
      url: "Auth/url",
      blogs: "Crud/blogs"
    }),
  },
  data() {
    return {
      // blogs: [],
    };
  },
  methods: {
    ...mapActions('Crud', ['getAllBlogs'])
  },
  created() {
    this.getAllBlogs()
    this.$store.commit('Auth/SET_GUEST', false)
  }
};
</script>

<style scoped></style>
