<template>
  <div class="home">
    <div v-if="guest">
      <h1 class="text-center">Please Login / Register First</h1>
    </div>
    <div v-else>
      <!--isi dengan cards blog random-->
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Home",
  components: {},
  computed: {
    ...mapGetters({
      guest: "Auth/guest",
    }),
  },
  data: () => ({
    token: localStorage.getItem('token')
  }),
  created() {},
};
</script>
