<template>
  <v-container>
    <v-row>
      <v-col cols="3"></v-col>
      <v-col cols="6">
        <form class="login" @submit.prevent="login">
          <h1>Sign in</h1>
          <br />
          <label>Email</label>
          <v-text-field
            required
            v-model="form.email"
            type="email"
            placeholder="Email"
          ></v-text-field>
          <label>Password</label>
          <v-text-field
            required
            v-model="form.password"
            type="password"
            placeholder="Password"
          ></v-text-field>
          <v-btn @click="login">Login</v-btn>
        </form>
      </v-col>
      <v-col cols="3"></v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "Login",
  computed: {
    ...mapGetters({
      url: "Auth/url",
    }),
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
      }
    };
  },
  methods: {
    login: function () {
      axios.post(`${this.url}/auth/login`,this.form)
      .then(res => {
        localStorage.setItem('token', res.data.access_token)
        this.$store.commit('Auth/SET_GUEST', false)
        this.$router.push('/blogs')
        console.log(res.data.access_token)
      }).catch(e => {
        throw e
      })
    },
  },
};
</script>

<style></style>
