<template>
  <v-container>
    <v-row>
      <v-col cols="3"></v-col>
      <v-col cols="6">
        <form class="login" @submit.prevent="register">
          <h1>Register</h1>
          <br />
          <label>Email</label>
          <v-text-field
            required
            v-model="form.email"
            type="email"
            placeholder="Email"
          ></v-text-field>
          <label>Password</label>
          <v-text-field
            required
            v-model="form.password"
            type="password"
            placeholder="Password"
          ></v-text-field>
          <label>Nama</label>
          <v-text-field
            required
            v-model="form.name"
            type="text"
            placeholder="Name"
          ></v-text-field>
          <v-btn @click="register">Register</v-btn>
        </form>
      </v-col>
      <v-col cols="3"></v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "Register",
  computed: {
    ...mapGetters({
      url: "Auth/url",
    }),
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
        name: "",
        photo_profile: null
      }
    };
  },
  methods: {
    register() {
      axios.post(`${this.url}/auth/register`,this.form)
        .then(res => {
          alert('user sudah berhasil dibuat')
          this.$router.push('/login')
        }).catch(e => {
          console.log(e, "<<<<<<< ini errornya");
        throw e
      })
    }
  }
};
</script>

<style scoped>

</style>